*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app ul{
  padding: 0 20px;
}
.topButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2px;
}

div button{
  grid-template-rows: 1;
  background: dodgerblue;
  border: none;
  margin: 5px 2px;
  border-radius: 5px;
  font-size: 18px;
  height: 60px;
  color: #333;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div button:nth-of-type(2) {
  background: purple;
  color: #ddd;
}
div button:nth-of-type(3) {
  background: skyblue;
}
div button:hover{
  background-color: #333;
  color: #ddd;
}

div button:active{
  background-color: #111;
}

ul{
  list-style-type: disc;
}